.afb_file_container .afb_dropzone {
    width: 100%;
    border: dashed 1px #acacac;
    min-height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.afb_file_container .afb_dropzone.hover {
    border-color: #000;
    cursor: copy;
}
.afb_file_container .afb_dropzone > label {
    display: block;
}
.afb_file_container .afb_dropzone .afb_file_input {
    display: none;
}

.afb_file_container .afb_upload_container {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.afb_file_container .afb_upload_container .afb_item {
    display: block;
    margin-bottom: 20px;
}

.afb_file_container .upload-details {
    min-height: 25px;
    overflow: hidden;
    display: inline-block;
}

.afb_file_container .afb_upload_preview .upload-details {
    display: block;
}

.afb_file_container .afb_filename {
    width: 30%;
}
.afb_file_container .afb_upload_preview .afb_filename {
    width: auto;
}

.afb_file_container .afb_file_progress {
    border: 1px solid #ccc;
    height: 25px;
    width: 30%;
}

.afb_file_container .afb_upload_preview .afb_file_progress {
    width: auto;
}

.afb_file_container .afb_file_progress > div {
    width: 0;
    height: 100%;
    background: #26b89a;
}
.afb_file_container .afb_upload_preview .afb_remove_file.upload-details {
    display: block;
}
.afb_file_container .afb_remove_file.upload-details {
    text-align: center;
    width: 25px;
    height: 25px;
    background: #eee;
    border-radius: 50%;
    line-height: 25px;
    margin: auto;
}

.afb_file_container .afb_preview_item {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
}

.afb_file_container .afb_preview_item img {
    width: 100%;
    height: auto;
}


